@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.page-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background-color: #ffffff;
  color: #000000;
}
.navigation-list,
.navigation-user {
  list-style-type: none;
}
.navigation-link {
  color: #000000;
  text-decoration: none;
}

.navigation-link-here {
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}
.hero {
  background-image: url(../images/index-background.jpg);
  background-repeat: no-repeat;
  text-align: center;
}

.hero-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
.hero-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  text-align: center;
  list-style-type: none;
}
.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item:nth-child(4n + 1) {
  color: #ffffff;
  background-color: #82b3d3;
}
.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.search {
  text-align: center;
}
.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.search-hotel {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
}

.subscribe {
  text-align: center;
  color: #ffffff;
  background-image: url("../images/subscribe-background.jpg");
  width: 1200px;
  height: 414.86px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-button {
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
}

.page-footer {
  color: #000000;
  background-color: #ffffff;
}
.footer-social {
  list-style-type: none;
}
.footer-contacts-address-phone {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}
.breadcrumbs {
  color: #ffffff;
}
.breadcrumbs-link {
  color: inherit;
}

.container-filter {
  color: #ffffff;
  background-image: url(../images/filter-background.jpg);
  background-repeat: no-repeat;
}
.catalog-filter-title {
  color: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}
.catalog-filter-item {
  color: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
.sorting-found {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}
select {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.view {
  list-style-type: none;
}
.product-card-title-link {
  text-decoration: none;
}
.product-card-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-list {
  list-style-type: none;
}
.product-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.product-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: right;
}
.product-card-detail {
  text-decoration: none;
  background: #756157;
}
.product-card-favourites {
  background: #82b3d3;
}
.product-card-favourites-green {
  background: #7db54f;
}

.rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #f2f2f2;
}
.pagination {
  list-style-type: none;
}

.pagination-link {
  color: #ffffff;
  background: #82b3d3;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background: #f2f2f2;
}

.subscribe-catalog-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
.subscribe-catalog-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
