@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
  background-color: #e5e5e5;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
  /* background-color: #ffffff; */
  color: #000000;
  width: 1280px;
  background-color: #f2f2f2;
}
.body-wrapper {
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  flex-grow: 1;
}
.button {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header {
  margin: 0 auto;
  width: 1200px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background-color: #ffffff;
  color: #000000;
}
.navigation {
  display: flex;
  max-width: 1200px;
  min-height: 64px;
  margin: 0 auto;
}
.navigation-wrapper-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 238px;
}

.navigation-logo {
  position: absolute;
  max-width: 140px;
  padding-left: 70px;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  max-width: 600px; /* +93px, если вдруг появится ещё пункт навигации, как описано в скринкасте 5.15 */
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  color: #000000;
  text-decoration: none;
}

.navigation-user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 400px;
  margin-left: auto;
  padding-right: 70px;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}
.navigation-here {
  padding: 0;
}
.button-here {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 34px;
}

.main-container {
  flex-grow: 1;
  flex: 1 1 auto;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}
.hero-background {
  margin: 0 auto;
  background-image: url(../images/index-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
}

.hero-welcome {
  display: block;
  margin: 0 auto;
  padding: 51px 371px 82px;
}
.hero-divider-saw {
  width: 1200px;
  height: 57px;
  background: url(../images/saw.png) no-repeat;
  position: absolute;
  top: 429px;
}

.hero-title {
  margin: 0;
  margin-top: 69px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
.hero-subtitle {
  margin: 0;
  margin-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}
.advantages-item {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.advantages-title {
  margin: 0;
  margin-left: 27.5px;
  margin-right: 27.5px;
  margin-bottom: 30px;
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}
.advantages-description {
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 384px;
}

.advantages-title-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 92px 85px 111px;
}
.advantages-title-container-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 103px 85px 121px;
}
.advantages-title-container-recommendation {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 85px 81px;
}
.rectangle {
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}
.advantages-container-image {
  display: flex;
  margin: 0;
  padding: 0;
}
.advantages-container-image-bridge {
  display: flex;
  order: -1;

  /* align-self: stretch;  */
}

.advantages-item:nth-child(4n + 1) {
  color: #ffffff;
  background-color: #82b3d3;
}
.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 96px 304px;
}
.search {
  text-align: center;
}
.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
.search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 54px;
}
.search-hotel {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  padding: 8px 50px;
}
.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
  padding: 96px 258px 104px 258px;
}
.subscribe {
  color: #ffffff;
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 20px;
}
.subscribe-description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin: 0 0 54px;
}
.field {
  width: 452px;
  height: 52px;
  border: 0;
  padding: 0;
  background-color: #f2f2f2;
}
.field::placeholder {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
  padding: 14px 20px;
}
.newsletter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}
.newsletter-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 684px;
  height: 52px;
  margin: 0;
  padding: 0;
}
.newsletter-button {
  padding: 8px 50px;
  color: #ffffff;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  background-color: #82b3d3;
  text-transform: uppercase;
  border: 0;
  margin: 0;
}

.page-footer {
  width: 1200px;
  margin: 0 auto;
  color: #000000;
  background-color: #ffffff;
}
.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 35px 70px;
}
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  max-width: 150px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-social-item {
  width: 20px;
  height: 14px;
  margin-right: 26.33px;
  margin-bottom: 26.33px;
}
.footer-contacts-address-phone {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.main-inner {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}
.filter-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 412px;
  background-image: url(../images/filter-background.jpg);
  background-repeat: no-repeat;
  background-size: 1200px 412px;
  padding: 35px 70px 70px;
  box-sizing: border-box;
  color: #ffffff;
}
.inner-header {
}
.inner-header-title {
  margin-top: 0;
  margin-bottom: 8px;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}
.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  color: #ffffff;
  list-style-type: none;
}
.breadcrumbs-item {
}
.breadcrumbs-link {
  margin-right: 28.5px;
  color: inherit;
  text-decoration: none;
}

.catalog-filter-hotels {
}
.catalog-filter-container {
}
.catalog-filter {
  display: flex;
  justify-content: space-between;
}
.filter-group-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.filter-group-infra {
}
.catalog-filter-group {
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border: 0;
}
.catalog-filter-title {
  color: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}
.catalog-filter-list {
  margin: 0;
  padding: 0;
}
.catalog-filter-item {
  color: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  list-style-type: none;
}
.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}
.control {
  display: block;
}

.control-input {
  margin-right: 16px;
}
input[type="text"] {
  padding: 12px;
  box-sizing: border-box;
}

.filter-group-housing {
}
.filter-group-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.filter-group-price {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}
.price-range-container {
  display: flex;
  justify-content: center;
  padding: 0;
  width: 290px;
}
.price {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  width: 143px;
  height: 48px;
  border: 0;
}
.range-slider {
  width: 287px;
  height: 0;
  padding: 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.button-apply {
  background-color: #82b3d3;
  padding: 8px 50px;
  margin-bottom: 32px;
}
.button-reset {
  padding: 8px 57.5px;
  background-color: transparent;
}
.sorting {
  padding: 50px 70px 60px;
}
.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.sorting-found {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

select {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 292px;
  height: 49px;
  margin-left: auto;
}
.view {
  display: flex;
  padding: 0;
  margin: 0 0 0 70px;
  list-style-type: none;
}
.view-icon {
  width: 48px;
  height: 48px;
  border: 1px solid #000000;
}

.view-icon:not(:last-child) {
  margin-right: 8px;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}
.product-card {
  display: grid;
  gap: 16px 20px;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.product-card-link {
  grid-column: 1 / -1;
}
.product-card-image {
  display: block;
  text-align: start;
}
.product-card-title {
  margin: 0;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.product-card-title-link {
  grid-column: 1 / -1;
  text-decoration: none;
}
.product-card-description {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  grid-column: 1 / 2;
  display: grid;
}
.product-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: right;
  grid-column: 2 / 3;
}
.product-card-detail {
  padding: 8px 26px;
  text-decoration: none;
  background: #756157;
}

.product-card-favourites {
  /* padding: 0; */
  padding: 8px 20px;
  background: #82b3d3;
}
.product-card-favourites-green {
  background: #7db54f;
  padding: 8px 18px;
}
.rating-stars {
  margin: 0;
  grid-column: 1 / 2;
}

.rating {
  min-width: 95px;
  /* margin: 0; */
  padding: 9px 22px 8px 23px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #f2f2f2;
  grid-column: 2 / 3;
}
.pagination-divider {
  width: 1060px;
  height: 0;
  border: 1px solid #e6e6e6;

  margin: 0;
  margin-bottom: 40px;
}
.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  list-style-type: none;
}
.pagination-item {
  width: 60px;
  height: 60px;
  background: #82b3d3;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.pagination-link {
  margin-top: 11.36px;
  margin-bottom: 12.64px;
  display: flex;
  color: #ffffff;
  text-decoration: none;
  justify-content: center;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}
.pagination-ellipsis {
  color: #000000;
  background-color: #ffffff;
}

.subscribe-catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.subscribe-catalog-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
}
.subscribe-catalog-description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 54px;
}
